<div>
  <h1>My bookings</h1>
  <%  @bookings.each do |booking|%>
   </p>This car has been booked from <%= booking.start_date %> to <%= booking.end_date %>
  <%= link_to "Delete",
    booking_path(booking),
    data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
  <p>

 <%= link_to "Leave a review", new_booking_review_path(booking) %>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% booking.reviews.each do |review| %>
    <li class="list-group-item">
    <%= review.content %>
    <%= link_to "Delete",
      review_path(review),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </li>
  <% end %>
<% end %>
