<div class="row">
  <% cars.each do |car|%>
    <div class="col-1"></div>
    <div class="col-4">

      <%= link_to car_path(car), class: "text-dark text-decoration-none"  do %>
        <div class="card mb-3 shadow-sm">
          <div class="card-body d-flex flex-column">
          <%= cl_image_tag car.photo.key, height: 300, class: "card-image" %>
            <div class="d-flex justify-content-between">
              <div>
                <h5 class="card-title"><%= "#{car.brand} #{car.model}" %></h5>
              </div>
              <div>
                <h5 class="card-title text-right"><%= car.year.strftime("%Y") %></h5>
              </div>
            </div>
            <p class="card-text mt-3"><%= car.description %></p>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-1"></div>
  <% end %>
</div>
