<div class="row">
  <% cars.each do |car| %>
    <div class="col-2"></div>
    <div class="col-8">
      <%= link_to car_path(car), class: "text-dark text-decoration-none"  do %>
        <div class="card mb-3 shadow-sm">
          <div class="card-body p-0">
            <%= cl_image_tag car.photo.key, class: "card-img-top" %>
            <div class="p-3">
              <div class="d-flex justify-content-between">
                <div>
                  <h5 class="card-title text-center"><%= "#{car.brand} #{car.model}" %></h5>
                </div>
                <div>
                  <h5 class="card-title text-center"><%= car.year.strftime("%Y") %></h5>
                </div>
              </div>
              <p class="card-text mt-3 text-center"><%= car.description %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-2"></div>
  <% end %>
</div>
