<div class="dark-background">
  <div class="banner" style="background-image: linear-gradient(rgba(17,23,35, 0), 80%, rgba(17,23,35, 1)), url(<%= image_path("Ferrari-home.jpg") %>);">
    <div class="container">
      <h3 id="lux-logo">LUX</h3>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class = "row col-2"></div>
      <div class="row col-8">
        <h1 id="opening-h1">This is Lux</h1>
      </div>
      <div class = "row col-2"></div>
      <div class = "row col-2"></div>
      <div class="row col-8">
        <p id="opening-text" class="text-center mb-5">Your doorway to elegance, power, and style. <br>Explore elite vehicles,
         offering an unforgettable blend of speed and luxury. <br>With Lux, you’re not merely hiring
          a car - you’re stepping into grandeur.</p>
      </div>
      <div class = "row col-2"></div>
    </div>
    <div id="container-marketing" class="container marketing-section">
      <div class="row justify-content-center col">
        <div class="col-md-3">
          <div class="marketing-box">
            <h4>Explore and Share Luxury</h4>
            <p>Browse the elite vehicle collection for your dream ride, or share your own
            luxury car with a network of enthusiasts.</p>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <div class="marketing-box">
            <h4>Simple and Secure Process</h4>
            <p>Whether booking a vehicle or listing your own, Lux's platform ensures a seamless
            and secure process with dedicated support.</p>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
          <div class="marketing-box">
            <h4>Unleash the Extraordinary</h4>
            <p>Embark on unforgettable journeys in luxury, or watch your vehicle
            create memorable experiences for others.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class = "row col-2"></div>
        <div class="row col-8 justify-content-center">
          <div class="row col-4"></div>
          <div class="row col-4">
            <a class="btn btn-ghost mt-5 mb-5" href="cars/#id">All our LuxCars</a>
          </div>
          <div class="row col-4"></div>
        </div>
      <div class = "row col-2"></div>
    </div>
    <div class="row">
      <% @cars.each_with_index do |car, index| %>
        <% if index < 3 %>
          <div class="col-2"></div>
          <div class="col-8">
            <%= link_to car_path(car), class: "text-dark text-decoration-none" do %>
              <div id="car-card" class="card mb-5 mt-3 shadow-sm">
                <div class="card-body p-0">
                  <%= cl_image_tag car.photo.key, class: "card-img-top" %>
                  <div class="p-3 text-light">
                    <div class="d-flex justify-content-between">
                      <div>
                        <h5 class="card-title text-center"><%= "#{car.brand} #{car.model} #{car.year.strftime("%Y")}" %></h5>
                        <p class="card-text mt-3"><%= car.description %></p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-2"></div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
