<h1><%= current_user.first_name %>'s' cars</h1>

<div class="container d-flex">
  <% @cars.each do |car| %>
    <div class="card" style="width: 18rem;">
      <%# <%= image_tag car.photo %>
      <div class="card-body">
        <h5 class="card-title"><%= car.brand %> | <%= car.model %></h5>
        <p class="card-text"><%= car.description %></p>
        <%= link_to "Edit", edit_car_path(car), class: 'btn btn-outline-dark' %>
        <%= link_to "Delete", car_path(car), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: 'btn btn-outline-secondary' %>
      </div>
    </div>
  <% end %>
</div>
