<div class="container">
  <div class="card-trip mb-5 mt-4">
    <%= cl_image_tag @car.photo.key, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2 class="mb-2"><%= @car.brand %> - <%= @car.model %></h2>
        <p class="mb-2"><%= @car.description %></p>
        <p>Owned by <%= @car.user.first_name %></p>
      </div>
      <div class="align-items-center mb-1">
        <%= link_to "Back", cars_path, class: 'btn btn-outline-light mx-2 btn-sm' %>
        <%= link_to "Edit", edit_car_path(@car), class: 'btn btn-outline-light mx-2 btn-sm' %>
        <%= link_to "Delete",
            car_path(@car), class: 'btn btn-outline-light mx-2 btn-sm',
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
        %>
      </div>
    </div>
  </div>

  <% if @car.user != current_user %>
    <div class="mb-5">
      <h3>Book this car</h3>
      <%= simple_form_for [@car, @booking] do |f| %>
        <%= f.input :start_date %>
        <%= f.input :end_date%>
        <%= f.submit "book car", class: "btn btn-outline-light" %>
      <% end %>
    </div>
  <% end %>

  <% if @car.reviews.exists? %>
    <div class="mb-5">
      <h2><strong>Reviews</strong></h2>
      <ul class="list-group">
        <% @car.reviews.each do |review| %>
        <li class="list-group-item">
          <%= review.content %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</div>
