<div class="container" data-controller="toggle">

  <div class="card-trip mb-5 mt-4">
    <%= cl_image_tag @car.photo.key, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2 class="mb-2"><%= @car.brand %> - <%= @car.model %> |
        <% if @car.reviews != [] %>
          <% (@car.reviews.map(&:rating).sum / @car.reviews.count).times do %>
            <i class="fa-solid fa-star" style="color: #ffffff;"></i>
          <% end %>
        <% end %>
        </h2>
        <p class="mb-2"><%= @car.description %></p>
        <p>Owned by <%= @car.user.first_name %></p>
      </div>
      <div class="align-items-center mb-1">
        <% if current_user.id != @car.user_id  %>
          <button data-action="click->toggle#fire" class="btn btn-outline-light mx-2 btn-sm">Make inquiry</button>
        <% end %>
        <%= link_to "Back", cars_path, class: 'btn btn-outline-light mx-2 btn-sm' %>
        <% if current_user.id == @car.user_id  %>
          <%= link_to "Edit", edit_car_path(@car), class: 'btn btn-outline-secondary mx-2 btn-sm' %>
          <%= link_to "Delete",
              car_path(@car), class: 'btn btn-outline-secondary mx-2 btn-sm',
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
          %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="container-form" data-controller="date-picker">
    <div class="mt-5">
      <div data-toggle-target="togglableElement" class="d-none">
        <% if current_user.id != @car.user_id  %>
          <%= simple_form_for([@car, @booking]) do |f| %>
            <%= f.input :start_date, as: :date, html5: true%>
            <%#= f.input :end_date, input_html: { data: { date-picker-target: "end"} }%>
            <%= f.input :end_date, as: :date, html5: true%>
            <%= f.submit "Book", class: "btn btn-outline-light" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <% if @car.reviews.exists? %>
    <div class="mb-5">
      <h2><strong>Reviews</strong></h2>
      <ul class="list-group">
        <% @car.reviews.each do |review| %>
        <li class="list-group-item">
          <%= review.content %>
        </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
<div class="footer-space-alternative"></div>
