<div class="container">
  <div class="card-trip mb-5 mt-4">
    <%= cl_image_tag @car.photo.key, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h2><%= @car.brand %> - <%= @car.model %></h2>
        <p><%= @car.description %></p>
        <p>Owned by <%= @car.user.first_name %></p>
      </div>
      <%= link_to "Back", cars_path, class: 'btn btn-outline-dark'  %>
      <%= link_to "Edit", edit_car_path(@car), class: 'btn btn-outline-dark'  %>
      <%= link_to "Delete",
          car_path(@car), class: 'btn btn-outline-dark',
          data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
      %>
    </div>
  </div>

 <div id='car-booking-dates'>
    <% if current_user.id != @car.user_id  %>
       <%= simple_form_for([@car, @booking]) do |f| %>
           <%= f.input :start_date, as: :flatpickr, input_html: { data: { 'date-enable-time': false } }%>
           <%= f.input :end_date, as: :flatpickr, input_html: { data: { 'date-enable-time': false } } %>
           <%= f.submit "Book", class: "btn btn-primary" %>
        <% end %>
    <% end %>
 </div>
</div>
